@import 'font-awesome/font-awesome';

@font-face {
	font-family: 'Byom';
	src: url('../assets/fonts/Byom-Regular-Trial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	overflow: hidden;
	color: #fff;
	font-family: 'Byom', sans-serif;
	box-sizing: border-box;
}

* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

ul {
	padding: 0;
	list-style: none;
}


h1 {
	font-size: 1em;
	text-align: center;
	margin: 0;
	font-weight: normal;
}

p {
	margin-bottom: 5px;
}

.menu {
	position: absolute;
	display: block;
	width: 100%;
}

.bg-sound { 
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

.hands {
	display: block;
	padding: 30px;
}

.effects,
.instruments,
.right-hand,
.left-hand {
	width: 50%;
	float: left;
}

.effects,
.instruments {
	padding: 0 20px;
}

.instruments {
	text-align: right;
}

.right-hand {
	.instruments {
		text-align: left;
	}
	.effects {
		text-align: right;
	}
}


li {
	padding: 40px 0;
	position: relative;
}

.titel {
	padding-top: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
}

.active {
	color: #00ff00;
}

.status {
	position: absolute;
	left: 0;
	margin-top: 5px;
	width: 50%;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 1px;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 100%;
		background-color: #fff;
	}
}

.status--right {
	position: absolute;
	right: 0;
	left: initial;

	&:before {
		right: 0;
		left: initial;
	}
}

.status--middle {
	position: relative;
	margin-bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 12%;
}

.status--hover {
	&:before {
		width: 100%;
		transition: width 2s ease-in;
	}
}


